html, body{
    margin: 0;
    height: 100%;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    user-select: none;
}

#page{
    flex: 1;
    min-height: 0;
    width: 100%;
    
    border: none;
    background: black;
}

#panel{
    height: 60px;
    display: flex;
}

#panel button {
    flex: 1;
    border: none;
    font-size: 16px;
    
    background: #050430;
    color: white;
}