html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}

body{
    padding: 0;
    
    box-sizing: border-box;

    font-family: Arial, sans-serif;

    background: #0a1220;
    
    display: flex;
    flex-direction: column;
    
    overflow: hidden;
    
    user-select: none;
}

#search-area {
    padding: 20px;
    
    display: flex;
    flex-shrink: 0;
    gap: 8px;
    
    border-bottom: 2px solid #1c2d49;
}

#search-area #search-bar{
    flex: 1;

    padding: 12px;

    border: 1px solid #1c2d49;
    border-radius: 8px;

    font-size: 16px;

    outline: none;
    
    background: #060d18;
    color: #edf2ff;
}

#search-area #search-bar:focus {
    border-color: #4567d8;
}

#search-area #search-bar::placeholder{
    color: #64738d;
}

#search-area #search-btn {
    padding: 12px 18px;

    border: none;
    border-radius: 8px;

    background: #1562ff;
    color: white;

    font-size: 15px;

    cursor: pointer;
    
    min-height: 0;
}

#search-area #search-btn .loadingCircle{
    display: none;
}

#results {
    margin-top: 15px;
    
    overflow-y: auto;
    
    min-height: 0;
    height: 0;
    flex: 1;
}

#results .result {
    background: transparent;
    color: white;
 
    height: 50px;
    
    padding: 0 15px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#results .result button{
    background: #1562ff;
    color: white;
    
    border: none;
    border-radius: 10px;
    
    padding: 5px 10px;
}

.loadingCircle{
    height: 80%;
    aspect-ratio: 1/1;
    
    border: 2px solid #9c95ff;
    border-radius: 50%;
    border-top-color: #ffffff;
    
    animation: spin 1s linear infinite;
}

@keyframes spin{
    
    from{
        transform: rotate(0deg);
    }
    
    to{
        transform: rotate(360deg);
    }
}